header {
  display: flex;
  margin-top: 165px;
}

.image-container {
  display: flex;
  height: 572px;
  min-width: 930px;
  align-items: center;
  justify-content: center;
  background-color: #7d8587;
}

.image-text {
  width: 150px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24pt;
  line-height: 36pt;
  text-align: center;
  font-weight: bold;
}

.spec-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 68px;
  padding-top: 80px;
  background-color: #ecf1f4;
  color: #14141d;
  font-family: "Open Sans", sans-serif;
}

.spec-title {
  font-family: "Times New Roman", serif;
  margin: 0;
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 35px;
}

.spec-item {
  margin-bottom: 43px;
  width: 750px;
}

.spec-item-title {
  font-size: 15pt;
  margin: 0;
  font-weight: bold;
}

.spec-item-text {
  font-weight: normal;
  font-size: 14pt;
  line-height: 20pt;
  color: #5c6369;
  margin: 0;
  margin-top: 19px;
}

main {
  display: flex;
  width: 1770px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
}

.cart-title {
  font-weight: bold;
  font-size: 35pt;
  margin: 0;
}

.product-cart {
  display: flex;
}

.product-table {
  display: grid;
  grid-template-rows: 45px 1fr 1fr 1fr;
  row-gap: 19px;
  margin-top: 35px;
  width: 870px;
}

.table-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  border-bottom: 1px solid #e4e4e4;
}

.table-head {
  text-align: left;
  font-weight: bold;
  font-size: 22pt;
}

.item-container {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  padding-bottom: 19px;
  border-bottom: 1px solid #e4e4e4;
}

.item-info {
  display: grid;
  align-items: center;
  grid-template-columns: 120px auto;
}

.item-image {
  display: flex;
  height: 115px;
  width: 115px;
  align-items: center;
  justify-content: center;
  background-color: #7d8587;
}

.item-image-text {
  width: 85px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  line-height: 20pt;
  text-align: center;
  font-weight: bold;
}

.remove-btn {
  position: absolute;
  cursor: pointer;
  margin-left: 95px;
  margin-bottom: 95px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: url("../img/close.svg") center center, #fd4d36;
}

.item-name {
  margin-left: 28px;
}

.table-text {
  color: #14141d;
  font-family: "Open Sans", sans-serif;
  font-size: 15pt;
  line-height: 17pt;
  font-weight: bold;
}

.table-qty {
  width: 60px;
  height: 38px;
  text-align: center;
  border: 1px solid #e4e4e4;
  outline: none;
}

.summary {
  display: grid;
  margin-left: 30px;
  padding: 10px;
  grid-template-rows: 1fr 1fr;
  height: 384px;
  width: 270px;
  background-color: #fe4c8d;
  border-collapse: collapse;
}

.summary-container {
  display: grid;
  padding-top: 34px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 28px;
  grid-template-rows: 2fr repeat(3, 1fr);
  align-items: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  color: #fff;
}

.sum-title {
  margin: 0;
  font-family: "Times New Roman", serif;
  font-size: 22pt;
}

.sum-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  line-height: 25pt;
  color: rgba(255, 255, 255, 0.5);
}

.total-container {
  display: grid;
  grid-template-rows: auto auto;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  padding-top: 13px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.total-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  line-height: 28pt;
  font-weight: bold;
  color: #fff;
}

.checkout-btn {
  border: none;
  outline: none;
  justify-self: center;
  background-color: #fea100;
  border-radius: 5px;
  padding: 0;
  height: 51px;
  width: 197px;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  line-height: 30pt;
  font-weight: bold;
  color: #fff;
}

footer {
  box-sizing: border-box;
  padding-left: 400px;
  padding-top: 100px;
  height: 566px;
  margin-bottom: 623px;
  color: #fff;
  background: url("../img/leaf-1.png") top -10px left 225px no-repeat,
    url("../img/pizza-1.png") top -221px right -175px no-repeat, #fea100;
}

.footer-title {
  font-size: 35pt;
  margin: 0;
  margin-bottom: 26px;
}

.food-steps {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  max-height: 338px;
  overflow-y: scroll;
}

.food-steps::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #cc8306;
}

.food-steps::-webkit-scrollbar {
  width: 12px;
  border-radius: 20px;
  background-color: #cc8306;
}

.food-steps::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: url("../img/scroll.png") no-repeat center center, #503608;
}

.step {
  display: flex;
  margin-bottom: 40px;
  margin-right: 75px;
}

.step:last-child {
  margin-bottom: 0;
}

.step-marker-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 86px;
  box-sizing: border-box;
  background-color: #cc8306;
}

.step-marker {
  margin: 6px;
  text-align: center;
  padding: 6px 10px;
  line-height: 18pt;
  width: 36px;
  border: 4px solid #fea100;
}

.step-text {
  margin: 0;
  margin-left: 30px;
  width: 880px;
  font-size: 14pt;
  line-height: 21pt;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
